/* Global Styles */

@font-face {
  font-family: "ST Mono";
  src: url("./assets/Share-Tech-Mono.TTF");
}
html, body  {
  padding: 0;
  margin: 0;
  font-family: "ST Mono";
  color: #E2DDD6;
  background-color: #141115;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Header Component */

.header  {
  background-color: #141115;
  padding: 35px;
  overflow: hidden;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.title  {
  font-size: 30px;
}
.content-container  {
  padding: 35px;
}
.header-hexagon  {
  width: 27px;
  margin-right: 10px;
  animation: rotate-hexagon 2.5s infinite;
  transition: all 0.5s cubic-bezier(.075,.82,.165,1);
}
.header-hexagon:hover  {
  opacity: 0.5;
}
@keyframes rotate-hexagon {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

/* Header */

.product-header  {
  font-size: 20px;
}

/* Card Container */

.card-container  {
  display: grid;
  grid-template-columns: repeat(4, calc(23%));
  column-gap: 20px;
  row-gap: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  margin: 0px 35px 35px 35px;
}

/* Card Component */

.card  {
  position: relative;
}
.product-information-container  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.product-title, .product-price  {
  font-size: 1.3vw;
  color: #E2DDD6;
}
.product-image  {
  width: 100%;
  margin-bottom: 1em;
  border: 0.25px solid #141115;
}
.order-button  {
  background-color: #E2DDD6;
  padding: 15px 10px;
  font-size: 15px;
  margin-top: 1em;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: all 0.5s cubic-bezier(.075,.82,.165,1);
  font-family: "ST Mono";
  color: #141115;
  outline: none;
  border: none;
  width: 100%;
}
.order-button:hover  {
  opacity: 0.5;
  transform: scale(0.95);
}

/* Ordering Modal */

.order-modal  {
  display: flex;
  flex-direction: column;
  background-color: #E2DDD6;
  padding: 10px;
  margin-bottom: 1em;
  min-height: max-content;
}
.order-title  {
  font-size: 18px;
  color: #141115;
}
.order-input  {
  border: none;
  outline: none;
  font-family: "ST Mono";
  font-size: 15px;
  padding: 5px 10px;
  margin-bottom: 1em;
}
.order-desc  {
  font-size: 15px;
  opacity: 0.75;
  color: #141115;
  margin-bottom: 0;
}
.order-steps li  {
  color: #141115;
  opacity: 0.75;
  margin-top: 0;
  font-size: 15px;
}
.loading-hexagon  {
  transition: all 0.5s cubic-bezier(.075,.82,.165,1);
  animation: loading-indicator 3s infinite;
  position: absolute;
  z-index: 7;
  height: 5em;
  top: 30%;
  left: 37%;
}
@keyframes loading-indicator {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

/* Admin Page */
.admin-footer  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  bottom: 15px;
  width: calc(100% - 30px);
  padding: 0px 15px;
}
.admin-footer-text  {
  font-family: "ST Mono";
  text-transform: uppercase;
  font-size: 12px;
  margin-right: 5px;
  text-align: center;
}
.admin-footer-hexagon  {
  width: 11px;
  margin-bottom: -2px;
  animation: rotate-hexagon 2.5s infinite;
  transition: all 0.5s cubic-bezier(.075,.82,.165,1);
}
.admin-footer-hexagon:hover  {
  opacity: 0.5;
}
.admin-onload-container  {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.admin-onload-input  {
  border: none;
  outline: none;
  font-family: "ST Mono";
  font-size: 15px;
  padding: 10px 15px;
  background-color: #E2DDD6;
  margin: 1em 0;
  width: 170px;
}
.order-card  {
  background-color: #E2DDD6;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.order-info, .order-title, .order-footer  {
  color: #141115;
}
.order-footer  {
  font-size: 12px;
}


/* Media Queries */
@media screen and (max-width: 650px) {
  .card-container  {
    grid-template-columns: repeat(2, calc(50%));
  }
  .product-title, .product-price  {
    font-size: 3vw;
  }
  .title  {
    font-size: 20px;
  }
  .header-hexagon  {
    width: 20px;
  }
}
@media screen and (max-width: 450px) {
  .card-container  {
    grid-template-columns: repeat(1, calc(100%));
  }
  .product-title, .product-price  {
    font-size: 4vw;
  }
  .header-hexagon:first-child  {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  .title  {
    font-size: 16px;
  }
  .header-hexagon  {
    width: 16px;
  }
  .product-header  {
    font-size: 16px;
  }
  .product-title, .product-price  {
    font-size: 4vw;
  }
  .header-hexagon:nth-child(2)  {
    display: none;
  }
}
